/* General styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Very light blue */
    color: #333; /* Dark Gray */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

/* Style Main Section */
main {
    width: 80%; /* Adjust as needed */
    max-width: 1000px; /* Maximum width for larger screens */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
section {
    margin-bottom: 20px;
}

h2 {
    color: #2c3e50; /* Dark Blue */
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.experience-item {
    margin-bottom: 15px;
}